<%- layout('layouts/boilerplate') %>
<div class="d-flex align-items-center mb-3">
	<h1>All Campgrounds</h1>
	<a href="/campgrounds/new" class="btn btn-primary ms-auto" role="button"
		>Add Campground</a
	>
</div>

<div class="d-flex flex-wrap gap-3">
	<% for (let camp of campgrounds) { %>
	<div class="card flex-fill" style="width: 18rem">
		<div class="card-body">
			<h5 class="card-title"><%= camp.title %></h5>
			<h6 class="card-subtitle mb-2 text-muted"><%= camp.location %></h6>
			<a href="/campgrounds/<%= camp._id %>" class="card-link">Details</a>
		</div>
	</div>
	<!-- <li>
		<a href="/campgrounds/<%= camp._id %> "><%= camp.title %></a>
	</li> -->
	<% } %>
</div>
