<%- layout('layouts/boilerplate') %>

<div id="cluster-map"></div>

<div class="container mt-5">
	<div class="d-flex align-items-center mb-3">
		<h1>All Campgrounds</h1>
		<a href="/campgrounds/new" class="btn btn-primary ms-auto" role="button">Add Campground</a>
	</div>

	<% for (let camp of campgrounds) { %>
		<div class="card mb-3">
			<div class="row">
				<div class="col-md-4">
					<img src="<%= camp.images[0].url %> " class="img-fluid" alt="" />
				</div>
				<div class="col-md-8 d-flex align-items-center">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h5 class="card-title mb-1">
									<%= camp.title %>
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									<%= camp.location %>
								</h6>
							</div>
							<p class="card-text text-muted ms-auto">$<%= camp.price %> per Night</p>
						</div>
						<p class="card-text">
							<%= camp.description %>
						</p>
						<a href="/campgrounds/<%= camp._id %>" class="card-link btn btn-outline-secondary"
							role="button">Details</a>
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

<script>
	const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
	const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
</script>
<script src="/js/clusterMap.js"></script>