<% layout('layouts/boilerplate') %>

<div class="row">
	<div class="col-6">
		<div class="mb-3">
			<a href="/campgrounds" class="btn btn-outline-secondary" role="button">
				Back to Campgrounds
			</a>
		</div>
		<div class="card mb-5">
			<img src="<%= campground.image %> " class="card-img-top" alt="" />
			<div class="card-body">
				<h5 class="card-title mb-1"><%= campground.title %></h5>
				<h6 class="card-subtitle text-muted mb-2">
					<%= campground.location %>
				</h6>
				<p class="card-text"><%= campground.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">$<%= campground.price %> per Night</li>
				<li class="list-group-item text-muted text-sm">
					Submitted by: <%= campground.author.username %>
				</li>
			</ul>
			<% if (currentUser && campground.author.equals(currentUser._id)) { %>
			<div class="card-body">
				<a
					href="/campgrounds/<%= campground._id %>/edit"
					class="btn btn-primary"
					role="button"
				>
					Edit
				</a>
				<form
					class="d-inline"
					action="/campgrounds/<%= campground.id %>?_method=DELETE"
					method="post"
				>
					<button type="submit" class="btn btn-outline-danger">Delete</button>
				</form>
			</div>
			<% } %>
			<div class="card-footer text-muted">Last Updated: 2 days ago</div>
		</div>
	</div>
	<div class="col-6 mt-5">
		<h2>Leave a Review</h2>
		<form
			class="mb-3 validated-form"
			action="/campgrounds/<%= campground._id %>/reviews"
			method="post"
			novalidate
		>
			<div class="mb-3">
				<label class="form-label" for="rating">Rating</label>
				<input
					class="form-range"
					type="range"
					name="review[rating]"
					id="rating"
					min="1"
					max="5"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="body">Review</label>
				<textarea
					class="form-control"
					name="review[body]"
					id="body"
					cols="30"
					rows="3"
					required
				></textarea>
				<div class="invalid-feedback">Please provide a review.</div>
			</div>
			<button class="btn btn-success" type="submit">Add Review</button>
		</form>
		<div class="mb-3">
			<% for (let review of campground.reviews) { %>
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Rating: <%= review.rating %></h5>
					<p class="card-text">Review: <%= review.body %></p>
					<form
						action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
						method="post"
					>
						<button class="btn btn-sm btn-outline-danger" type="submit">
							Delete
						</button>
					</form>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>
